body {
  font-family: ;
  background-image: url(https://images.unsplash.com/photo-1707344088547-3cf7cea5ca49?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  color: white;
}

#title, #description {
  text-align: center;
  margin: 20px auto;
}

#survey-form {
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
  color: white;
}

label {
  display: block;
  margin-bottom: 10px;
}